@import "zen-grids";
@import "helper";

@include font-face(CoreSansA35, fonts/CoreSansA35Light-Italic/CoreSansA35Light-Italic, italic);
@include font-face(CoreSansA35, fonts/CoreSansA35Light-Regular/CoreSansA35Light-Regular);
@include font-face(CoreSansA45, fonts/CoreSansA45Regular-Regular/CoreSansA45Regular-Regular);
@include font-face(CoreSansA55, fonts/CoreSansA55Medium-Regular/CoreSansA55Medium-Regular);

@mixin center() {
  margin-left: auto;
  margin-right: auto;
}

@mixin set_max_width($width) {
  #navigation-wrapper {
    max-width: $width;
  }
  
  .content-container {
    .content {
      max-width: $width;
    }
  }
}


@mixin video-button() {
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 3px;
  font-family: CoreSansA55;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  background: url(../images/ico_video.png) no-repeat 24px center #fff;
  color: #383737;
  padding: 14px 24px 12px 56px; 
}

$spencer-blue: #3aacd2;

html {
  font-family: CoreSansA35, arial, sans;
}

header {
  background-color: $spencer-blue;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 70px;
  z-index: 99;

  #navigation-wrapper {
    @include center();
     
    #logo {
      padding: 23px 0px;
      float: left;
      .logo-spencer {
        fill: #fff;
        height: 24px;
        width: 134px;
      }
      
      #mobile-nav-icon {
        display: none;
      }
    }

    #navigation {
      float: right;
      ul {
        padding: 0;
        margin: 0;
        margin-top: 25px;

        li {
          padding-left: 20px;
          display: inline-block;
          list-style-type: 0;
          list-style-image: none;

          a {
            font-family: CoreSansA55;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.6);
            text-decoration: none;

            &:hover {
              color: #555;
            }
          }
        }
      }
    }
  }
}

#body-wrapper {
  margin-top: 70px;
}

$zen-columns: 2;
#intro {
  .col-1 {
    padding-top: 186px;
    padding-bottom: 100px;
    
    p {
      padding-top: 32px;
      color: rgba(255, 255, 255, 0.7);
      font-size: 22px;
      line-height: 1.5em;
    }

    #intro-buttons {
      margin-top: 32px;
    }

    a {
      text-decoration: none;
      border: 2px solid #fff;
      border-radius: 3px;
      font-family: CoreSansA55;
      font-size: 14px;
      line-height: 20px;
      display: inline-block;
    }

    #play-video {
      background: url(../images/ico_video.png) no-repeat 24px center #fff;
      color: #383737;
      padding: 14px 24px 12px 56px; 
    }

    #read-announcement {
      color: #fff;
      padding: 12px 24px;
    }
  } 

  .col-2 {
    padding-top: 64px;
    text-align: right;
    padding-right: 64px;
    img {
      width: 100%;
      margin-bottom: -100px;
      max-width: 360px;
    }
  }
}

#testimonials {
  padding-top: 226px;
  padding-bottom: 96px;
  text-align: center;
 
  .testimonial-logo {
    text-align: center;
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
   
  .testimonial-content {
    background: url(../images/img_quote_2.png), url(../images/img_quote.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat;

  h2 {
      font-size: 26px;
      color: #505050;
      padding-top: 75px;
      padding-bottom: 75px;
      font-style: italic;
      font-family: CoreSansA35;
      max-width: 945px;
      line-height: 1.54em;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

  .slick-dots {
    position: static;
    margin-top: 30px;
  }

}

.testimonial-person {
  display: inline-block;
  
  min-height: 56px;
  padding-top: 6px;
  padding-left: 88px;
  
  &.proximus {
      background: url(../images/img_avatar_proximus.png) no-repeat left top;
  }  

  &.telenet{
      background: url(../images/img_avatar_telenet.png) no-repeat left top;
  }  

  &.deme{
      background: url(../images/img_avatar_deme.png) no-repeat left top;
  }  

  .person-name {
    font-weight: 500;
    line-height: 1.59;
    color: #505050;
    font-size: 17px;
    font-family: CoreSansA55;
    text-align: left;
  }

  .person-position {
    font-weight: 300;
    font-style: italic;
    font-size: 13px;
    font-family: CoreSansA35;
    color: #737373;
    text-align: left;
  }
}
  


#oversaturated {
  padding-bottom: 192px;

  h3 {
    padding-top: 192px;
    padding-bottom: 96px;
  }
  
  .h3-1 {
    max-width: 556px;
  }
}

.video-button {
  @include video-button();  
}

.functionality {
  padding-top: 158px;
  padding-bottom: 158px;
  
  #functionality {
    margin-top: 68px;

    .col-1 {
      padding-top: 64px;

      ul {
        margin: 0;
        padding: 0;
        margin-bottom: 46px;

        li {
          display: inline-block;
          padding-right: 16px;

          a {
            color: #383737;
            font-size: 14px;
            line-height: 1.43em;
            font-family: CoreSansA55;
            font-weight: 500;
            text-decoration: none;

            &.active {
              color: #fff;
              border-bottom: 2px solid #fff; 
            }
          }
        }
      }

      .func-slide {
        display: none;
        &.func-hr {
          display: block;
        }
        
        b {
          font-size: 12px;
          color: #fff;
          font-family: CoreSansA55;
          line-height: 16px;
          display: block;
          padding-top: 32px;
          padding-bottom: 16px;
        }

        .feature {
          padding-right: 8px;
          font-family: CoreSansA45;
          font-size: 14px;
          color: #fff;
          padding: 10px 16px;
          background-color: #3090b0;
          border: #3090b0 1px solid;
          border-radius: 3px;
          display: inline-block;
          margin-bottom: 8px;
        }
      }
    }

    .col-2 {
      img {
        width: 100%;
      }

      .video {
        width: 292px;
        height: 613px;
        padding: 80px 0px 0px 16px;
        margin-left: auto;
        margin-right: auto;
        background: url(../images/img_video_background.png) no-repeat;
      }
    }
  }
}

#mobile-app {
  padding-bottom: 128px;
  
  .col-1 {
    img {
      max-width: 555px;
      margin-top: -100px;
    }
    .card {
      display: none;

      &.card-l {
        width: 100%;
        display: inline;
      }
    }
  }

  .col-2 {
    .mobile-app-content {
      max-width: 458px;
      margin-left: auto;
      margin-right: auto;

      h5 {
        margin-top: 160px;
      }
      p {
        margin-top: 64px;
      }
    }
  }
}

#resume {
  .col {
    .col-content {
      padding-left: 72px;
    }

    &:nth-child(1) {
      .col-content {
        background: url(../images/ico_resume_1.png) no-repeat left 6px;
      }
    }
    &:nth-child(2) {
      .col-content {
        background: url(../images/ico_resume_2.png) no-repeat left 6px;
      }
    }
    &:nth-child(3) {
      .col-content {
        background: url(../images/ico_resume_3.png) no-repeat left 6px;
      }
    }
    &:nth-child(4) {
      .col-content {
        background: url(../images/ico_resume_4.png) no-repeat left 6px;
      }
    }
    &:nth-child(5) {
      .col-content {
        background: url(../images/ico_resume_5.png) no-repeat left 6px;
      }
    }
    &:nth-child(6) {
      .col-content {
        background: url(../images/ico_resume_6.png) no-repeat left 6px;
      }
    }
  }
}

#five-step {
	.step-wrapper {
    display: table;
	}

  .number-wrapper {
    display: table-cell;
    width: 60px;

    .number {
      border: 2px solid #9cd0df;
      border-radius: 50px;
      color: #fff;
      font-size: 22px;
      font-weight: 500;
      height: 52px;
      line-height: 52px;
      text-align: center;
      width: 52px;
      font-family: CoreSansA55;
    }
  }
  
  .col-content {
    display: table-cell;
    padding-left: 32px; 
  }
}

#cloud-layer {
  h3 {
    padding-top: 160px;
    padding-bottom: 64px;
  }
  
  video {
    margin-top: 128px;
  }
  padding-bottom: 128px;
}

#resume-container, #five-step-container {
  padding-bottom: 192px;
  h3 {
    padding-top: 192px;
    padding-bottom: 82px;
  }
}

#hiring-container {
  padding-bottom: 160px;
  h3 {
    padding-top: 162px;
    padding-bottom: 32px;
  }

  p {
    text-align: center;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;

    a {
      color: #fff;
      background-color: $spencer-blue;
      border-radius: 3px;
      font-family: CoreSansA55;
      font-size: 14px;
      padding: 12px 24px;
      text-decoration: none;
      font-weight: 500;
      margin-top: 32px;
      display: inline-block;
    }
  }
}


$zen-columns: 3;
#references {
  #references-navigation {
    @include zen-grid-container();

    a {
      height: 88px;
      display: block;
      width: 100%;
      border-radius: 3px;
      border: solid 2px #f6f6f6;
    }

    .col-1 {
      @include zen-grid-item(1,1);

      a {
        background: url(../images/img_logo_proximus.png) no-repeat center center;
        &.active {
          background: url(../images/img_logo_proximus_active.png) no-repeat center center #f6f6f6;
        }
      }
    } 
    .col-2 {
      @include zen-grid-item(1,2);
      
      a {
        background: url(../images/img_logo_telenet.png) no-repeat center center;
        &.active {
          background: url(../images/img_logo_telenet_active.png) no-repeat center center #f6f6f6;
        }
      }

    }
    .col-3 {
      @include zen-grid-item(1,3);

      a {
        background: url(../images/img_logo_deme.png) no-repeat center center;
        &.active {
          background: url(../images/img_logo_deme_active.png) no-repeat center center #f6f6f6;
        }
      }
    }
  }

  #references-body {
    b {
      display: block;
      font-size: 22px;
      padding-top: 128px;
      font-family: CoreSansA55;
    }

    p {
      padding-top: 16px; 
      padding-bottom: 16px; 
    }

    #ref-proximus-container b {
      color: #5C2D91;
    }

    #ref-telenet-container b {
      color: #FCC415;
    }
    
    #ref-deme-container b {
      color: #6DBD27;
    }
    .ref-container {
      display: none;
    }
    
    #ref-proximus-container {
      display: block;
    }

    img {
      margin-top: 64px;
    }
  }
}

.content.references {
  padding-top: 192px;
  padding-bottom: 92px;
}

#team-container {
  padding-top: 192px;
  padding-bottom: 192px;

  h3 {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  p {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #team {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;

    .col-1, .col-2 {
      margin-top: 32px;
      padding-left: 88px;
    }
    
    .member {
      min-height: 56px;
      padding-top: 6px;
    }
    .maarten {
      background: url(../images/img_avatar_maartenraemdonck.png) no-repeat left top;
    }  
    .tom {
      background: url(../images/img_avatar_tomvroemans.png) no-repeat left top;
    }
    .robin {
      background: url(../images/img_avatar_robinvdbergh.png) no-repeat left top;
    }
    .anthony {
      background: url(../images/img_avatar_anthonywijnen.png) no-repeat left top;
    }
    .yannick {
      background: url(../images/img_avatar_yannickbontemps.png) no-repeat left top;
    }
    .christophe {
      background: url(../images/img_avatar_christophesmet.png) no-repeat left top;
    }
    .kevin {
      background: url(../images/img_avatar_kevintsyen.png) no-repeat left top;
    }
    .tomdl {
      background: url(../images/img_avatar_tomdelaet.png) no-repeat left top;
    }

    .team-name {
      font-weight: 500;
      line-height: 1.59;
      color: #505050;
      font-size: 17px;
      font-family: CoreSansA55;
    }

    .team-position {
      font-weight: 300;
      font-style: italic;
      font-size: 13px;
      font-family: CoreSansA35;
      color: #737373;
    }
  }
}

#contact-container {
  padding-bottom: 160px;

  .col-1, .col-2 {
    margin-top: 16px;
    .col-1, .col-2 {
      margin: 0;
    }
  }

  h3 {
    padding-top: 128px;
    padding-bottom: 32px;
  }

  p {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 64px;
  }

  label {
    display: block;
    font-family: CoreSansA55;
    font-size: 12px;
    line-height: 2em;
  }

  input {
    width: 100%;
    height: 42px;
    border: 1px solid #fff;
    border-radius: 3px;
  }

  a {
    border: solid 2px #fff;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    padding: 12px 24px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
  }
}

$zen-columns: 4;
#footer {
  padding-bottom: 88px;

  .col-1 {
    padding-top: 80px;
  }
  .col-2 {
    padding-top: 64px;
  }
  .col-3 {
    padding-top: 64px;
  }
  .col-4 {
    padding-top: 92px;
  }

  b {
    font-size: 17px;
    font-family: CoreSansA55;
    font-weight: 500;
  }

  p {
    font-size: 13px;
    font-style: italic;
    line-height: 1.6em;
    padding-top: 6px;
  }

  #social-icons {
    text-align: center;
  }
}

.center {
  text-align: center;  
}

.content-container {
  .content {
    @include center();
  }
  &.blue {
    background-color: $spencer-blue;
    color: #fff;
  }
  &.grey {
    background-color: #f6f6f6;
  }
  &.dark {
    background-color: #383737;
  }
}

p {
  font-size: 17px;
  line-height: 27px;
  color: #737373;

  &.white {
    color: rgba(255, 255, 255, 0.7);
  }

  &.quote {
    font-style: italic;
  }
}

h1 {
  font-size: 50px;
  color: #fff;
  line-height: 1.2em;
}

h3 {
  font-size: 42px;
  text-align: center;
  line-height: 50px;
  color: #505050;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;

  &.white {
    color: #fff;
  }

}

h4 {
  font-size: 22px;
  line-height: 33px;
  color: $spencer-blue;
  padding-bottom: 16px;
  padding-top: 16px;
  font-weight: 500;
  font-family: CoreSansA55;
  &.white {
    color: #fff;
  }
}

h5 {
  color: #fff;
  font-family: CoreSansA35;
  line-height: 1.3em;
  font-size: 32px;
  max-width: 945px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  &.left {
    text-align: left;
  }
}

.container-2 {
  &.clean {
    .col-1 {
      padding-left: 0 !important;
    }

    .col-2 {
      padding-right: 0 !important;
    }
  } 
}

/* media queries */
@media all and (min-width: 100px) and (max-width: 767px){
  header {
    height: auto;
    
    #navigation-wrapper {
      #logo-wrapper {
        height: 64px;
        padding-left: 34px;
        padding-right: 34px;

        #logo {
          padding-top: 20px;
          padding-bottom: 20px;
          display: block;
          float: none;
          width: 100%;

          #mobile-nav-icon {
            display: block;
            float: right;
          }
        }
      }
    
      #navigation {
        display: none;
        background-color: rgba(255, 255, 255, 0.1);
        float: none;
        width: 100%;

        ul {
          margin: 0;
          li {
            display: block;
            border-bottom: 1px solid #9be0ee;
            padding-left: 20px;
            
            a {
              display: block;
              padding-top: 20px;
              padding-bottom: 20px;
            }
          }
        }
      }
    }
  }

  #body-wrapper {
    margin-top: 64px;
  }

  .content-container {
    padding-left: 34px;
    padding-right: 34px;
  }

  #intro {
    #intro-buttons {
      position: relative;
      a {
        display: block;
        margin-bottom: 16px;
        text-align: center;
      }
    }

    .col-1 {
      padding-top: 64px;
      padding-bottom: 0;
    }

    .col-2 {
      padding-right: 0;
      text-align: center;

      img {
        max-width: 240px;
        margin-bottom: -400px;
      }
    }
  }

  #testimonials {
    padding-top: 498px;
    padding-bottom: 64px;
    margin-bottom: 0;
    
    .testimonial-content {
      margin-top: 16px;
      background-size: 50px 35px;

      h2 {
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 23px;
      }
    }

    .testimonial-person {
      padding-top: 16px;
    }
  }

  #oversaturated {
    padding-bottom: 128px;
    h3 {
      padding-top: 128px;
      padding-bottom: 0;
    }

    .h3-2 {
      font-size: 36px;
    }

    h4 {
      padding-top: 64px;
    }
  }

  .functionality {
    padding-top: 128px;
    padding-bottom: 128px;
    
    h5 {
      font-size: 28px;
    }

    #functionality {
      .col-1 {
        padding-top: 0;
        ul {
          margin-bottom: 32px;
          li {
            padding-bottom: 16px;
          }
        }

        .video-button {
          display: block;
        }
      }
      
      .col-2 {
        display: none;
      }
    }
  }

  #cloud-layer {
    padding-bottom: 228px;
    h3 {
      padding-top: 128px;
      font-size: 28px;
    }

    .col-2 {
      video {
        margin-top: 64px;
      }
    }
  }

  #mobile-app {
    .col-1 {
      text-align: center;
      .card {
        &.card-l, &.card-m {
          display: none;
        }
        &.card-s {
          width: 100%;
          display: inline;
        }
      }
    }
    .col-2 {
      .mobile-app-content h5 {
        font-size: 28px;
        margin-top: 64px;
      }
    }
  }

  #resume-container {
    padding-bottom: 128px;
    
    h3 {
      font-size: 36px;
      padding-top: 128px;
      padding-bottom: 0px;
    }

    #resume {
      .col-content {
        background: none;
        padding-left: 0;

        h4 {
          padding-top: 64px;
        }
      }
    }
  }
  
  #nav-references {
    .content.references {
      padding-top: 128px;

      #references-navigation {
        .col-1 {
          padding-left: 0;
        }

        .col-2 {
          padding-left: 5px;
          padding-right: 5px;
        }

        .col-3 {
          padding-right: 0;
        }

        a {
          height: 72px;
          background-size: 48px 48px;
        }
      }

      #references-body {
        b {
          padding-top: 64px;
        }

        .quote, .testimonial-person {
          display: none;
        }

        .col-2 {
          img {
            margin-top: 32px;
            width: 100%;
          }
        }
      }
    }
  }

  #five-step-container {
    padding-bottom: 128px;
    h3 {
      padding-top: 128px;
      padding-bottom: 0px;
      font-size: 36px;
    }

    .number-wrapper {
      display: block;
      padding-top: 64px;
    }

    .col-content {
      display: block;
      padding-left: 0;
    }
  }

  #team-container {
    padding-top: 128px;
    padding-bottom: 128px;

    h3 {
      font-size: 36px;
    }
    
    #team {
      padding-top: 32px;
    }
  }

  #hiring-container {
    padding-bottom: 128px;
    h3 {
      padding-top: 96px;
      font-size: 36px;
    }
  }

  #nav-contact {
    display: none;
   }

  #footer {
    .col-1 {
      padding-top: 144px;
    }
    
    .col-2 {
      padding-top: 32px;
    }
    
    .col-3 {
      padding-top: 16px;
    }

    .col-4 {
      padding-top: 32px;
    }

    #social-icons {
      text-align: left;
    }
  }
}


@media all and (min-width: 768px) {
  @include set_max_width(720px);
  
  .content-container .content {
    max-width: 596px;
  }

  #navigation {
    display: block !important;
  }

  #intro {
    .col-2 {
      text-align: center;
      padding-top: 28px;
      padding-right: 0;
    }
  }

  .content-container {
    #testimonials {
      &.content {
        max-width: 720px;
      }
      .testimonial-content {
        h2 {
          max-width: 596px;
        }
      }
    }
  }

  #nav-problem {
    #oversaturated {
      .oversat-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 596px;
        
        .h3-1 {
          max-width: 596px;
        }
      }
    }
  }
  
  #functionality {
    .col-2 {
      display: none;
    }
  }

  #cloud-layer {
    h3 {
      font-size: 32px;
      line-height: 1.3em;
      text-align: left;
    }
    padding-bottom: 292px;
  }

  #mobile-app {
    .col-2 .mobile-app-content {
      max-width: 596px;

      h5 {
        margin-top: 96px;
      }
    }
    padding-bottom: 160px;
  }
  
  #resume-container {
    padding-bottom: 192px;
    
    h3 {
      font-size: 36px;
      padding-top: 192px;
      padding-bottom: 32px;
    }

    #resume {
      .col {
        padding-top: 64px;
      }
    }
  }
  
  #nav-references {
    .content.references {
      padding-top: 192px;
      padding-bottom: 192px;

      #references-navigation {
        .col-1 {
          padding-left: 0;
        }

        .col-2 {
          padding-left: 5px;
          padding-right: 5px;
        }

        .col-3 {
          padding-right: 0;
        }

        a {
          background-size: 48px 48px;
        }
      }

      #references-body {
        b {
          padding-top: 64px;
        }

        .quote, .testimonial-person {
          display: none;
        }
      }
    }
  }

  #team-container {
    padding-bottom: 256px;
  }
  
  $zen-columns: 2 !global;
  #team.container-2 {
    @include zen-grid-container();

    .col-1 {
      @include zen-new-row();
      @include zen-grid-item(1,1);
    }
    .col-2 {
      @include zen-grid-item(1,2);
    }
  }

  #nav-contact {
    #contact-container {
      .container-2 {
        max-width: 470px;
        margin-left: auto;
        margin-right: auto;

        .container-2 {
          @include zen-grid-container();

          .col-1 {
            @include zen-new-row();
            @include zen-grid-item(1,1);
          }
          .col-2 {
            @include zen-grid-item(1,2);
          }     
        }
      }
    }
  }

  #footer {
    @include zen-grid-container();

    .col-1 {
      @include zen-grid-item(2,1);
    }
    .col-2 {
      @include zen-new-row();
      @include zen-grid-item(1,1);
    }
    .col-3 {
      @include zen-grid-item(1,2);
    }
    .col-4 {
      @include zen-new-row();
      @include zen-grid-item(2,1);
      
      #social-icons {
        text-align: left;
      }
    }
  }
}

@media all and (min-width: 992px) {
  #references-body {
    .quote {
      display: block !important;
    }
    .testimonial-person {
      display: block !important;
    }
  }

  #functionality {
    .col-2 {
      display: inline !important;
    }
  }

  $zen-columns: 2 !global;
  .container-2 {
    @include zen-grid-container();

    .col-1 {
      @include zen-new-row();
      @include zen-grid-item(1,1);
    }
    .col-2 {
      @include zen-grid-item(1,2);
    }

    &.clean {
      .col-1 {
        padding-left: 0;
      }

      .col-2 {
        padding-right: 0;
      }
    }
  }

  $zen-columns: 3 !global;
  #functionality {
    margin-top: 68px;

    @include zen-grid-container();

    .col-1 {
      @include zen-grid-item(2, 1);
    }

    .col-2 {
      @include zen-grid-item(1, 3);
    }
  }
  
  $zen-columns: 4 !global;
  #footer {
    @include zen-grid-container();

    .col-1 {
      @include zen-grid-item(1,1);
    }
    .col-2 {
      @include zen-grid-item(1,2);
    }
    .col-3 {
      @include zen-grid-item(1,3);
    }
    .col-4 {
      @include zen-grid-item(1,4);
    }
  }

  @include set_max_width(970px);
}


@media all and (min-width: 1200px) {
  @include set_max_width(1140px);
  
  .content-container {
    #testimonials {
      &.content {
        max-width: 1140px;
      }
      .testimonial-content {
        h2 {
          max-width: 945px;
        }
      }
    }
  }

}
