@font-face {
  font-family: "CoreSansA35";
  font-weight: italic;
  src: url("fonts/CoreSansA35Light-Italic/CoreSansA35Light-Italic.eot?") format("eot"), url("fonts/CoreSansA35Light-Italic/CoreSansA35Light-Italic.woff2") format("woff2"), url("fonts/CoreSansA35Light-Italic/CoreSansA35Light-Italic.woff") format("woff"), url("fonts/CoreSansA35Light-Italic/CoreSansA35Light-Italic.ttf") format("truetype"), url("fonts/CoreSansA35Light-Italic/CoreSansA35Light-Italic.svg#CoreSansA35") format("svg");
}
@font-face {
  font-family: "CoreSansA35";
  src: url("fonts/CoreSansA35Light-Regular/CoreSansA35Light-Regular.eot?") format("eot"), url("fonts/CoreSansA35Light-Regular/CoreSansA35Light-Regular.woff2") format("woff2"), url("fonts/CoreSansA35Light-Regular/CoreSansA35Light-Regular.woff") format("woff"), url("fonts/CoreSansA35Light-Regular/CoreSansA35Light-Regular.ttf") format("truetype"), url("fonts/CoreSansA35Light-Regular/CoreSansA35Light-Regular.svg#CoreSansA35") format("svg");
}
@font-face {
  font-family: "CoreSansA45";
  src: url("fonts/CoreSansA45Regular-Regular/CoreSansA45Regular-Regular.eot?") format("eot"), url("fonts/CoreSansA45Regular-Regular/CoreSansA45Regular-Regular.woff2") format("woff2"), url("fonts/CoreSansA45Regular-Regular/CoreSansA45Regular-Regular.woff") format("woff"), url("fonts/CoreSansA45Regular-Regular/CoreSansA45Regular-Regular.ttf") format("truetype"), url("fonts/CoreSansA45Regular-Regular/CoreSansA45Regular-Regular.svg#CoreSansA45") format("svg");
}
@font-face {
  font-family: "CoreSansA55";
  src: url("fonts/CoreSansA55Medium-Regular/CoreSansA55Medium-Regular.eot?") format("eot"), url("fonts/CoreSansA55Medium-Regular/CoreSansA55Medium-Regular.woff2") format("woff2"), url("fonts/CoreSansA55Medium-Regular/CoreSansA55Medium-Regular.woff") format("woff"), url("fonts/CoreSansA55Medium-Regular/CoreSansA55Medium-Regular.ttf") format("truetype"), url("fonts/CoreSansA55Medium-Regular/CoreSansA55Medium-Regular.svg#CoreSansA55") format("svg");
}
/* line 18, ../sass/spencer.scss */
html {
  font-family: arial, sans;
}

/* line 22, ../sass/spencer.scss */
header {
  background-color: #3aacd2;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 70px;
  z-index: 99;
}
/* line 33, ../sass/spencer.scss */
header #navigation-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 36, ../sass/spencer.scss */
header #navigation-wrapper #logo {
  padding: 21px 0px;
  float: left;
}
/* line 39, ../sass/spencer.scss */
header #navigation-wrapper #logo .logo-spencer {
  fill: #fff;
  height: 28px;
  width: 131px;
}
/* line 46, ../sass/spencer.scss */
header #navigation-wrapper #navigation {
  float: right;
}
/* line 48, ../sass/spencer.scss */
header #navigation-wrapper #navigation ul {
  padding: 0;
  margin: 0;
}
/* line 52, ../sass/spencer.scss */
header #navigation-wrapper #navigation ul li {
  display: inline-block;
  list-style-type: 0;
  list-style-image: none;
}
/* line 57, ../sass/spencer.scss */
header #navigation-wrapper #navigation ul li a {
  color: #fff;
  text-decoration: none;
}
/* line 61, ../sass/spencer.scss */
header #navigation-wrapper #navigation ul li a:hover {
  color: #555;
}

/* line 71, ../sass/spencer.scss */
#body-wrapper {
  margin-top: 70px;
}

/* line 97, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
#intro:before {
  content: "";
  display: table;
}
/* line 101, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
#intro:after {
  content: "";
  display: table;
  clear: both;
}
/* line 79, ../sass/spencer.scss */
#intro .col-left {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 100px;
}
/* line 84, ../sass/spencer.scss */
#intro .col-left p {
  padding-top: 100px;
}
/* line 89, ../sass/spencer.scss */
#intro .col-right {
  float: left;
  width: 50%;
  margin-left: 50%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 92, ../sass/spencer.scss */
#intro .col-right img {
  width: 100%;
  margin-bottom: -100px;
}

/* line 99, ../sass/spencer.scss */
#testimonials {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
/* line 104, ../sass/spencer.scss */
#testimonials h2 {
  font-size: 2em;
  color: #555;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 113, ../sass/spencer.scss */
#oversaturated {
  padding-top: 96px;
  padding-bottom: 96px;
}
/* line 117, ../sass/spencer.scss */
#oversaturated .oversat-container {
  padding-left: 112px;
  padding-right: 112px;
}
/* line 97, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
#oversaturated .oversat-container:before {
  content: "";
  display: table;
}
/* line 101, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
#oversaturated .oversat-container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 122, ../sass/spencer.scss */
#oversaturated .oversat-container .col-left {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 125, ../sass/spencer.scss */
#oversaturated .oversat-container .col-right {
  float: left;
  width: 50%;
  margin-left: 50%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 129, ../sass/spencer.scss */
#oversaturated .oversat-container:nth-child(2) {
  padding-top: 96px;
}
/* line 134, ../sass/spencer.scss */
#oversaturated .h3-1 {
  max-width: 556px;
}

/* line 97, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
#cloud-layer:before, #resume:before, #five-step:before {
  content: "";
  display: table;
}
/* line 101, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
#cloud-layer:after, #resume:after, #five-step:after {
  content: "";
  display: table;
  clear: both;
}
/* line 142, ../sass/spencer.scss */
#cloud-layer .col-left, #resume .col-left, #five-step .col-left {
  clear: left;
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 146, ../sass/spencer.scss */
#cloud-layer .col-right, #resume .col-right, #five-step .col-right {
  float: left;
  width: 50%;
  margin-left: 50%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 152, ../sass/spencer.scss */
#resume .col-content, #five-step .col-content {
  background: url(../images/icon.png) no-repeat top left;
  padding-left: 72px;
}

/* line 97, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
#references #references-navigation:before {
  content: "";
  display: table;
}
/* line 101, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
#references #references-navigation:after {
  content: "";
  display: table;
  clear: both;
}
/* line 163, ../sass/spencer.scss */
#references #references-navigation a {
  height: 88px;
  display: block;
  width: 100%;
  border-radius: 3px;
  border: solid 2px #f6f6f6;
}
/* line 171, ../sass/spencer.scss */
#references #references-navigation .col-1 {
  float: left;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 174, ../sass/spencer.scss */
#references #references-navigation .col-1 a {
  background: url(../images/img_logo_proximus.png) no-repeat center center;
}
/* line 176, ../sass/spencer.scss */
#references #references-navigation .col-1 a.active {
  background: url(../images/img_logo_proximus_active.png) no-repeat center center #f6f6f6;
}
/* line 181, ../sass/spencer.scss */
#references #references-navigation .col-2 {
  float: left;
  width: 33.33333%;
  margin-left: 33.33333%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 184, ../sass/spencer.scss */
#references #references-navigation .col-2 a {
  background: url(../images/img_logo_telenet.png) no-repeat center center;
}
/* line 186, ../sass/spencer.scss */
#references #references-navigation .col-2 a.active {
  background: url(../images/img_logo_telenet_active.png) no-repeat center center #f6f6f6;
}
/* line 192, ../sass/spencer.scss */
#references #references-navigation .col-3 {
  float: left;
  width: 33.33333%;
  margin-left: 66.66667%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 195, ../sass/spencer.scss */
#references #references-navigation .col-3 a {
  background: url(../images/img_logo_deme.png) no-repeat center center;
}
/* line 197, ../sass/spencer.scss */
#references #references-navigation .col-3 a.active {
  background: url(../images/img_logo_deme_active.png) no-repeat center center #f6f6f6;
}

/* line 207, ../sass/spencer.scss */
.content.references {
  padding-top: 192px;
  padding-bottom: 92px;
}
/* line 97, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
.content.references #references #references-body:before {
  content: "";
  display: table;
}
/* line 101, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
.content.references #references #references-body:after {
  content: "";
  display: table;
  clear: both;
}
/* line 214, ../sass/spencer.scss */
.content.references #references #references-body .col-1 {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 218, ../sass/spencer.scss */
.content.references #references #references-body .col-2 {
  float: left;
  width: 50%;
  margin-left: 50%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 226, ../sass/spencer.scss */
#team .col-1, #team .col-2 {
  margin-top: 32px;
  padding-left: 88px;
}
/* line 235, ../sass/spencer.scss */
#team .team-name {
  font-weight: 500;
  line-height: 1.59;
  color: #505050;
  font-size: 17px;
  font-family: CoreSansA55;
}
/* line 243, ../sass/spencer.scss */
#team .team-position {
  font-weight: 300;
  font-style: italic;
  font-size: 13px;
  font-family: CoreSansA35;
  color: #737373;
}

/* line 253, ../sass/spencer.scss */
#contact .col-1, #contact .col-2 {
  margin-top: 16px;
}
/* line 255, ../sass/spencer.scss */
#contact .col-1 .col-1, #contact .col-1 .col-2, #contact .col-2 .col-1, #contact .col-2 .col-2 {
  margin: 0;
}
/* line 260, ../sass/spencer.scss */
#contact label {
  display: block;
}
/* line 264, ../sass/spencer.scss */
#contact input {
  width: 100%;
}

/* line 97, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
#footer:before {
  content: "";
  display: table;
}
/* line 101, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
#footer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 273, ../sass/spencer.scss */
#footer .col-1 {
  float: left;
  width: 25%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 276, ../sass/spencer.scss */
#footer .col-2 {
  float: left;
  width: 25%;
  margin-left: 25%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 279, ../sass/spencer.scss */
#footer .col-3 {
  float: left;
  width: 25%;
  margin-left: 50%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 282, ../sass/spencer.scss */
#footer .col-4 {
  float: left;
  width: 25%;
  margin-left: 75%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 288, ../sass/spencer.scss */
.content-container .content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 291, ../sass/spencer.scss */
.content-container.blue {
  background-color: #3aacd2;
  color: #fff;
}
/* line 295, ../sass/spencer.scss */
.content-container.grey {
  background-color: #ddd;
}
/* line 298, ../sass/spencer.scss */
.content-container.dark {
  background-color: #383737;
}

/* line 97, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
.container-2:before {
  content: "";
  display: table;
}
/* line 101, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
.container-2:after {
  content: "";
  display: table;
  clear: both;
}
/* line 307, ../sass/spencer.scss */
.container-2 .col-1 {
  clear: left;
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 311, ../sass/spencer.scss */
.container-2 .col-2 {
  float: left;
  width: 50%;
  margin-left: 50%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 316, ../sass/spencer.scss */
.container-2.clean .col-1 {
  padding-left: 0;
}
/* line 320, ../sass/spencer.scss */
.container-2.clean .col-2 {
  padding-right: 0;
}

/* line 326, ../sass/spencer.scss */
p {
  font-size: 17px;
  line-height: 27px;
  color: #737373;
}

/* line 332, ../sass/spencer.scss */
h1 {
  font-size: 4em;
}

/* line 336, ../sass/spencer.scss */
h3 {
  font-size: 42px;
  text-align: center;
  line-height: 50px;
  color: #505050;
  padding-bottom: 96px;
  padding-top: 96px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

/* line 348, ../sass/spencer.scss */
h4 {
  font-size: 22px;
  line-height: 33px;
  color: #3aacd2;
  padding-bottom: 16px;
  padding-top: 16px;
  font-weight: 500;
}
