@font-face {
  font-family: "CoreSansA35";
  font-weight: italic;
  src: url("fonts/CoreSansA35Light-Italic/CoreSansA35Light-Italic.eot?") format("eot"), url("fonts/CoreSansA35Light-Italic/CoreSansA35Light-Italic.woff2") format("woff2"), url("fonts/CoreSansA35Light-Italic/CoreSansA35Light-Italic.woff") format("woff"), url("fonts/CoreSansA35Light-Italic/CoreSansA35Light-Italic.ttf") format("truetype"), url("fonts/CoreSansA35Light-Italic/CoreSansA35Light-Italic.svg#CoreSansA35") format("svg");
}
@font-face {
  font-family: "CoreSansA35";
  src: url("fonts/CoreSansA35Light-Regular/CoreSansA35Light-Regular.eot?") format("eot"), url("fonts/CoreSansA35Light-Regular/CoreSansA35Light-Regular.woff2") format("woff2"), url("fonts/CoreSansA35Light-Regular/CoreSansA35Light-Regular.woff") format("woff"), url("fonts/CoreSansA35Light-Regular/CoreSansA35Light-Regular.ttf") format("truetype"), url("fonts/CoreSansA35Light-Regular/CoreSansA35Light-Regular.svg#CoreSansA35") format("svg");
}
@font-face {
  font-family: "CoreSansA45";
  src: url("fonts/CoreSansA45Regular-Regular/CoreSansA45Regular-Regular.eot?") format("eot"), url("fonts/CoreSansA45Regular-Regular/CoreSansA45Regular-Regular.woff2") format("woff2"), url("fonts/CoreSansA45Regular-Regular/CoreSansA45Regular-Regular.woff") format("woff"), url("fonts/CoreSansA45Regular-Regular/CoreSansA45Regular-Regular.ttf") format("truetype"), url("fonts/CoreSansA45Regular-Regular/CoreSansA45Regular-Regular.svg#CoreSansA45") format("svg");
}
@font-face {
  font-family: "CoreSansA55";
  src: url("fonts/CoreSansA55Medium-Regular/CoreSansA55Medium-Regular.eot?") format("eot"), url("fonts/CoreSansA55Medium-Regular/CoreSansA55Medium-Regular.woff2") format("woff2"), url("fonts/CoreSansA55Medium-Regular/CoreSansA55Medium-Regular.woff") format("woff"), url("fonts/CoreSansA55Medium-Regular/CoreSansA55Medium-Regular.ttf") format("truetype"), url("fonts/CoreSansA55Medium-Regular/CoreSansA55Medium-Regular.svg#CoreSansA55") format("svg");
}
/* line 49, ../sass/spencer.scss */
.button {
  line-height: 14px !important;
  vertical-align: middle;
  height: 20px;
  padding: 15px 24px 5px 24px;
}

/* line 58, ../sass/spencer.scss */
.slick-dots li button::before {
  font-size: 8px;
  opacity: 0.15;
}

/* line 63, ../sass/spencer.scss */
.slick-dots li button:hover::before, .slick-dots li button:focus::before {
  color: #3aacd2;
}

/* line 67, ../sass/spencer.scss */
.slick-dots li.slick-active button::before {
  color: #3aacd2;
  opacity: 1;
}

/* line 72, ../sass/spencer.scss */
html {
  font-family: CoreSansA35, arial, sans;
}

/* line 76, ../sass/spencer.scss */
header {
  background-color: #3aacd2;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 70px;
  z-index: 99;
}
/* line 87, ../sass/spencer.scss */
header.animated {
  transition: all .2s ease-in-out;
}
/* line 90, ../sass/spencer.scss */
header.slideUp {
  top: -70px;
}
/* line 93, ../sass/spencer.scss */
header.SlideDown {
  top: 0;
}
/* line 97, ../sass/spencer.scss */
header #navigation-wrapper {
  margin-left: auto;
  margin-right: auto;
}
/* line 100, ../sass/spencer.scss */
header #navigation-wrapper #logo {
  padding: 23px 0px;
  float: left;
}
/* line 103, ../sass/spencer.scss */
header #navigation-wrapper #logo .logo-spencer {
  fill: #fff;
  height: 24px;
  width: 134px;
}
/* line 109, ../sass/spencer.scss */
header #navigation-wrapper #logo #mobile-nav-icon {
  display: none;
}
/* line 114, ../sass/spencer.scss */
header #navigation-wrapper #navigation {
  float: right;
}
/* line 116, ../sass/spencer.scss */
header #navigation-wrapper #navigation ul {
  padding: 0;
  margin: 0;
  margin-top: 25px;
}
/* line 121, ../sass/spencer.scss */
header #navigation-wrapper #navigation ul li {
  padding-left: 30px;
  display: inline-block;
  list-style-type: 0;
  list-style-image: none;
}
/* line 127, ../sass/spencer.scss */
header #navigation-wrapper #navigation ul li a {
  font-family: CoreSansA55;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
/* line 133, ../sass/spencer.scss */
header #navigation-wrapper #navigation ul li a:hover {
  color: #555;
}

/* line 143, ../sass/spencer.scss */
#body-wrapper {
  margin-top: 70px;
}

/* line 149, ../sass/spencer.scss */
#intro .col-1 {
  padding-top: 186px;
  padding-bottom: 100px;
}
/* line 153, ../sass/spencer.scss */
#intro .col-1 p {
  padding-top: 32px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 22px;
  line-height: 1.5em;
}
/* line 160, ../sass/spencer.scss */
#intro .col-1 #intro-buttons {
  margin-top: 32px;
}
/* line 164, ../sass/spencer.scss */
#intro .col-1 a {
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 3px;
  font-family: CoreSansA55;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
}
/* line 174, ../sass/spencer.scss */
#intro .col-1 #play-video {
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 3px;
  font-family: CoreSansA55;
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  color: #383737;
  padding: 10px 24px;
  background-color: #fff;
  vertical-align: middle;
  height: 20px;
}
/* line 40, ../sass/spencer.scss */
#intro .col-1 #play-video .video-icon {
  display: inline-block;
  width: 28px;
  height: 20px;
  background: url(../images/ico_video.png) no-repeat left center #fff;
  vertical-align: text-bottom;
}
/* line 178, ../sass/spencer.scss */
#intro .col-1 #read-announcement {
  color: #fff;
}
/* line 183, ../sass/spencer.scss */
#intro .col-2 {
  padding-top: 64px;
  text-align: right;
  padding-right: 64px;
}
/* line 187, ../sass/spencer.scss */
#intro .col-2 img {
  width: 100%;
  margin-bottom: -100px;
  max-width: 360px;
}

/* line 195, ../sass/spencer.scss */
#testimonials {
  padding-top: 226px;
  padding-bottom: 96px;
  text-align: center;
}
/* line 200, ../sass/spencer.scss */
#testimonials .testimonial-logo {
  text-align: center;
}
/* line 202, ../sass/spencer.scss */
#testimonials .testimonial-logo img {
  margin-left: auto;
  margin-right: auto;
}
/* line 208, ../sass/spencer.scss */
#testimonials .testimonial-content {
  background: url(../images/img_quote_2.png), url(../images/img_quote.png);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}
/* line 213, ../sass/spencer.scss */
#testimonials .testimonial-content h2 {
  font-size: 26px;
  color: #505050;
  padding-top: 75px;
  padding-bottom: 75px;
  font-style: italic;
  font-family: CoreSansA35;
  max-width: 945px;
  line-height: 1.54em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 228, ../sass/spencer.scss */
#testimonials .slick-dots {
  position: static;
  margin-top: 30px;
}

/* line 235, ../sass/spencer.scss */
.testimonial-person {
  display: inline-block;
  min-height: 56px;
  padding-top: 6px;
  padding-left: 88px;
}
/* line 242, ../sass/spencer.scss */
.testimonial-person.proximus {
  background: url(../images/img_avatar_proximus.png) no-repeat left top;
}
/* line 246, ../sass/spencer.scss */
.testimonial-person.telenet {
  background: url(../images/img_avatar_telenet.png) no-repeat left top;
}
/* line 250, ../sass/spencer.scss */
.testimonial-person.deme {
  background: url(../images/img_avatar_deme.png) no-repeat left top;
}
/* line 254, ../sass/spencer.scss */
.testimonial-person .person-name {
  font-weight: 500;
  line-height: 1.59;
  color: #505050;
  font-size: 17px;
  font-family: CoreSansA55;
  text-align: left;
}
/* line 263, ../sass/spencer.scss */
.testimonial-person .person-position {
  font-weight: 300;
  font-style: italic;
  font-size: 13px;
  font-family: CoreSansA35;
  color: #737373;
  text-align: left;
}

/* line 275, ../sass/spencer.scss */
#oversaturated {
  padding-bottom: 192px;
}
/* line 278, ../sass/spencer.scss */
#oversaturated h3 {
  padding-top: 192px;
  padding-bottom: 96px;
}
/* line 283, ../sass/spencer.scss */
#oversaturated .h3-1 {
  max-width: 556px;
}

/* line 288, ../sass/spencer.scss */
.video-button {
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 3px;
  font-family: CoreSansA55;
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  color: #383737;
  padding: 10px 24px;
  background-color: #fff;
  vertical-align: middle;
  height: 20px;
}
/* line 40, ../sass/spencer.scss */
.video-button .video-icon {
  display: inline-block;
  width: 28px;
  height: 20px;
  background: url(../images/ico_video.png) no-repeat left center #fff;
  vertical-align: text-bottom;
}

/* line 292, ../sass/spencer.scss */
.functionality {
  padding-top: 158px;
  padding-bottom: 158px;
}
/* line 296, ../sass/spencer.scss */
.functionality #functionality {
  margin-top: 68px;
}
/* line 299, ../sass/spencer.scss */
.functionality #functionality .col-1 {
  padding-top: 64px;
}
/* line 302, ../sass/spencer.scss */
.functionality #functionality .col-1 ul {
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
}
/* line 307, ../sass/spencer.scss */
.functionality #functionality .col-1 ul li {
  display: inline-block;
  padding-right: 16px;
  padding-bottom: 16px;
}
/* line 312, ../sass/spencer.scss */
.functionality #functionality .col-1 ul li a {
  color: #383737;
  font-size: 14px;
  line-height: 1.43em;
  font-family: CoreSansA55;
  font-weight: 500;
  text-decoration: none;
}
/* line 320, ../sass/spencer.scss */
.functionality #functionality .col-1 ul li a.active {
  color: #fff;
  border-bottom: 2px solid #fff;
}
/* line 328, ../sass/spencer.scss */
.functionality #functionality .col-1 .func-slide {
  display: none;
}
/* line 330, ../sass/spencer.scss */
.functionality #functionality .col-1 .func-slide.func-hr {
  display: block;
}
/* line 334, ../sass/spencer.scss */
.functionality #functionality .col-1 .func-slide b {
  font-size: 12px;
  color: #fff;
  font-family: CoreSansA55;
  line-height: 16px;
  display: block;
  padding-top: 32px;
  padding-bottom: 16px;
}
/* line 344, ../sass/spencer.scss */
.functionality #functionality .col-1 .func-slide .feature {
  padding-right: 8px;
  font-family: CoreSansA45;
  font-size: 14px;
  color: #fff;
  padding: 10px 16px;
  background-color: #3090b0;
  border: #3090b0 1px solid;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 8px;
}
/* line 360, ../sass/spencer.scss */
.functionality #functionality .col-2 img {
  width: 100%;
}
/* line 364, ../sass/spencer.scss */
.functionality #functionality .col-2 .video {
  width: 292px;
  padding: 80px 0px 64px 16px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/img_video_background.png) no-repeat;
}

/* line 375, ../sass/spencer.scss */
#mobile-app {
  padding-bottom: 128px;
}
/* line 379, ../sass/spencer.scss */
#mobile-app .col-1 img {
  max-width: 555px;
  margin-top: -100px;
}
/* line 383, ../sass/spencer.scss */
#mobile-app .col-1 .card {
  display: none;
}
/* line 386, ../sass/spencer.scss */
#mobile-app .col-1 .card.card-l {
  width: 100%;
  display: inline;
}
/* line 394, ../sass/spencer.scss */
#mobile-app .col-2 .mobile-app-content {
  max-width: 458px;
  margin-left: auto;
  margin-right: auto;
}
/* line 399, ../sass/spencer.scss */
#mobile-app .col-2 .mobile-app-content h5 {
  margin-top: 160px;
}
/* line 402, ../sass/spencer.scss */
#mobile-app .col-2 .mobile-app-content p {
  margin-top: 64px;
}

/* line 411, ../sass/spencer.scss */
#resume .col .col-content {
  padding-left: 72px;
}
/* line 416, ../sass/spencer.scss */
#resume .col:nth-child(1) .col-content {
  background: url(../images/ico_resume_1.png) no-repeat left 6px;
}
/* line 421, ../sass/spencer.scss */
#resume .col:nth-child(2) .col-content {
  background: url(../images/ico_resume_2.png) no-repeat left 6px;
}
/* line 426, ../sass/spencer.scss */
#resume .col:nth-child(3) .col-content {
  background: url(../images/ico_resume_3.png) no-repeat left 6px;
}
/* line 431, ../sass/spencer.scss */
#resume .col:nth-child(4) .col-content {
  background: url(../images/ico_resume_4.png) no-repeat left 6px;
}
/* line 436, ../sass/spencer.scss */
#resume .col:nth-child(5) .col-content {
  background: url(../images/ico_resume_5.png) no-repeat left 6px;
}
/* line 441, ../sass/spencer.scss */
#resume .col:nth-child(6) .col-content {
  background: url(../images/ico_resume_6.png) no-repeat left 6px;
}

/* line 449, ../sass/spencer.scss */
#five-step .step-wrapper {
  display: table;
}
/* line 453, ../sass/spencer.scss */
#five-step .number-wrapper {
  display: table-cell;
  width: 60px;
}
/* line 457, ../sass/spencer.scss */
#five-step .number-wrapper .number {
  border: 2px solid #9cd0df;
  border-radius: 50px;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  height: 52px;
  line-height: 52px;
  text-align: center;
  width: 52px;
  font-family: CoreSansA55;
}
/* line 471, ../sass/spencer.scss */
#five-step .col-content {
  display: table-cell;
  padding-left: 32px;
}

/* line 477, ../sass/spencer.scss */
#cloud-layer {
  padding-bottom: 128px;
}
/* line 478, ../sass/spencer.scss */
#cloud-layer h3 {
  padding-top: 160px;
  padding-bottom: 64px;
}
/* line 483, ../sass/spencer.scss */
#cloud-layer video {
  margin-top: 128px;
}

/* line 489, ../sass/spencer.scss */
#resume-container, #five-step-container {
  padding-bottom: 192px;
}
/* line 491, ../sass/spencer.scss */
#resume-container h3, #five-step-container h3 {
  padding-top: 192px;
  padding-bottom: 82px;
}

/* line 497, ../sass/spencer.scss */
#hiring-container {
  padding-bottom: 160px;
}
/* line 499, ../sass/spencer.scss */
#hiring-container h3 {
  padding-top: 162px;
  padding-bottom: 32px;
}
/* line 504, ../sass/spencer.scss */
#hiring-container p {
  text-align: center;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}
/* line 510, ../sass/spencer.scss */
#hiring-container p a {
  color: #fff;
  background-color: #3aacd2;
  border-radius: 3px;
  font-family: CoreSansA55;
  font-size: 14px;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: 500;
  margin-top: 32px;
  display: inline-block;
}

/* line 97, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
#references #references-navigation:before {
  content: "";
  display: table;
}
/* line 101, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
#references #references-navigation:after {
  content: "";
  display: table;
  clear: both;
}
/* line 531, ../sass/spencer.scss */
#references #references-navigation a {
  height: 88px;
  display: block;
  width: 100%;
  border-radius: 3px;
  border: solid 2px #f6f6f6;
}
/* line 539, ../sass/spencer.scss */
#references #references-navigation .col-1 {
  float: left;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 542, ../sass/spencer.scss */
#references #references-navigation .col-1 a {
  background: url(../images/img_logo_proximus.png) no-repeat center center;
}
/* line 544, ../sass/spencer.scss */
#references #references-navigation .col-1 a.active {
  background: url(../images/img_logo_proximus_active.png) no-repeat center center #f6f6f6;
}
/* line 549, ../sass/spencer.scss */
#references #references-navigation .col-2 {
  float: left;
  width: 33.33333%;
  margin-left: 33.33333%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 552, ../sass/spencer.scss */
#references #references-navigation .col-2 a {
  background: url(../images/img_logo_telenet.png) no-repeat center center;
}
/* line 554, ../sass/spencer.scss */
#references #references-navigation .col-2 a.active {
  background: url(../images/img_logo_telenet_active.png) no-repeat center center #f6f6f6;
}
/* line 560, ../sass/spencer.scss */
#references #references-navigation .col-3 {
  float: left;
  width: 33.33333%;
  margin-left: 66.66667%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 563, ../sass/spencer.scss */
#references #references-navigation .col-3 a {
  background: url(../images/img_logo_deme.png) no-repeat center center;
}
/* line 565, ../sass/spencer.scss */
#references #references-navigation .col-3 a.active {
  background: url(../images/img_logo_deme_active.png) no-repeat center center #f6f6f6;
}
/* line 573, ../sass/spencer.scss */
#references #references-body b {
  display: block;
  font-size: 22px;
  padding-top: 128px;
  font-family: CoreSansA55;
}
/* line 580, ../sass/spencer.scss */
#references #references-body p {
  padding-top: 16px;
  padding-bottom: 16px;
}
/* line 585, ../sass/spencer.scss */
#references #references-body #ref-proximus-container b {
  color: #5C2D91;
}
/* line 589, ../sass/spencer.scss */
#references #references-body #ref-telenet-container b {
  color: #FCC415;
}
/* line 593, ../sass/spencer.scss */
#references #references-body #ref-deme-container b {
  color: #6DBD27;
}
/* line 596, ../sass/spencer.scss */
#references #references-body .ref-container {
  display: none;
}
/* line 600, ../sass/spencer.scss */
#references #references-body #ref-proximus-container {
  display: block;
}
/* line 604, ../sass/spencer.scss */
#references #references-body img {
  margin-top: 64px;
}

/* line 610, ../sass/spencer.scss */
.content.references {
  padding-top: 192px;
  padding-bottom: 92px;
}

/* line 615, ../sass/spencer.scss */
#team-container {
  padding-top: 192px;
  padding-bottom: 192px;
}
/* line 619, ../sass/spencer.scss */
#team-container h3 {
  padding-top: 32px;
  padding-bottom: 32px;
}
/* line 624, ../sass/spencer.scss */
#team-container p {
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 631, ../sass/spencer.scss */
#team-container #team {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}
/* line 636, ../sass/spencer.scss */
#team-container #team .col-1, #team-container #team .col-2 {
  margin-top: 32px;
  padding-left: 88px;
}
/* line 641, ../sass/spencer.scss */
#team-container #team .member {
  min-height: 56px;
  padding-top: 6px;
  text-align: left;
}
/* line 646, ../sass/spencer.scss */
#team-container #team .maarten {
  background: url(../images/img_avatar_maartenraemdonck.png) no-repeat left top;
}
/* line 649, ../sass/spencer.scss */
#team-container #team .tom {
  background: url(../images/img_avatar_tomvroemans.png) no-repeat left top;
}
/* line 652, ../sass/spencer.scss */
#team-container #team .robin {
  background: url(../images/img_avatar_robinvdbergh.png) no-repeat left top;
}
/* line 655, ../sass/spencer.scss */
#team-container #team .anthony {
  background: url(../images/img_avatar_anthonywijnen.png) no-repeat left top;
}
/* line 658, ../sass/spencer.scss */
#team-container #team .yannick {
  background: url(../images/img_avatar_yannickbontemps.png) no-repeat left top;
}
/* line 661, ../sass/spencer.scss */
#team-container #team .christophe {
  background: url(../images/img_avatar_christophesmet.png) no-repeat left top;
}
/* line 664, ../sass/spencer.scss */
#team-container #team .kevin {
  background: url(../images/img_avatar_kevintsyen.png) no-repeat left top;
}
/* line 667, ../sass/spencer.scss */
#team-container #team .tomdl {
  background: url(../images/img_avatar_tomdelaet.png) no-repeat left top;
}
/* line 671, ../sass/spencer.scss */
#team-container #team .team-name {
  font-weight: 500;
  line-height: 1.59;
  color: #505050;
  font-size: 17px;
  font-family: CoreSansA55;
}
/* line 679, ../sass/spencer.scss */
#team-container #team .team-position {
  font-weight: 300;
  font-style: italic;
  font-size: 13px;
  font-family: CoreSansA35;
  color: #737373;
}

/* line 689, ../sass/spencer.scss */
#contact-container {
  padding-bottom: 160px;
}
/* line 692, ../sass/spencer.scss */
#contact-container .col-1, #contact-container .col-2 {
  margin-top: 16px;
}
/* line 694, ../sass/spencer.scss */
#contact-container .col-1 .col-1, #contact-container .col-1 .col-2, #contact-container .col-2 .col-1, #contact-container .col-2 .col-2 {
  margin: 0;
}
/* line 699, ../sass/spencer.scss */
#contact-container h3 {
  padding-top: 128px;
  padding-bottom: 32px;
}
/* line 704, ../sass/spencer.scss */
#contact-container p {
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 64px;
}
/* line 712, ../sass/spencer.scss */
#contact-container label {
  display: block;
  font-family: CoreSansA55;
  font-size: 12px;
  line-height: 2em;
}
/* line 719, ../sass/spencer.scss */
#contact-container input {
  width: 100%;
  height: 42px;
  border: 1px solid #fff;
  border-radius: 3px;
}
/* line 726, ../sass/spencer.scss */
#contact-container a {
  border: solid 2px #fff;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  padding: 14px 24px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  font-family: CoreSansA55;
  font-size: 14px;
  font-weight: 500;
}

/* line 743, ../sass/spencer.scss */
#footer {
  padding-bottom: 88px;
}
/* line 746, ../sass/spencer.scss */
#footer .col-1 {
  padding-top: 80px;
}
/* line 749, ../sass/spencer.scss */
#footer .col-2 {
  padding-top: 64px;
}
/* line 752, ../sass/spencer.scss */
#footer .col-3 {
  padding-top: 64px;
}
/* line 755, ../sass/spencer.scss */
#footer .col-4 {
  padding-top: 92px;
}
/* line 759, ../sass/spencer.scss */
#footer b {
  font-size: 17px;
  font-family: CoreSansA55;
  font-weight: 500;
}
/* line 765, ../sass/spencer.scss */
#footer p {
  font-size: 13px;
  font-style: italic;
  line-height: 1.6em;
  padding-top: 6px;
}
/* line 772, ../sass/spencer.scss */
#footer #social-icons {
  text-align: center;
}

/* line 777, ../sass/spencer.scss */
.center {
  text-align: center;
}

/* line 782, ../sass/spencer.scss */
.content-container .content {
  margin-left: auto;
  margin-right: auto;
}
/* line 785, ../sass/spencer.scss */
.content-container.blue {
  background-color: #3aacd2;
  color: #fff;
}
/* line 789, ../sass/spencer.scss */
.content-container.grey {
  background-color: #f6f6f6;
}
/* line 792, ../sass/spencer.scss */
.content-container.dark {
  background-color: #383737;
}

/* line 797, ../sass/spencer.scss */
p {
  font-size: 17px;
  line-height: 27px;
  color: #737373;
}
/* line 802, ../sass/spencer.scss */
p.white {
  color: rgba(255, 255, 255, 0.7);
}
/* line 806, ../sass/spencer.scss */
p.quote {
  font-style: italic;
}

/* line 811, ../sass/spencer.scss */
h1 {
  font-size: 50px;
  color: #fff;
  line-height: 1.2em;
}

/* line 817, ../sass/spencer.scss */
h3 {
  font-size: 42px;
  text-align: center;
  line-height: 50px;
  color: #505050;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}
/* line 826, ../sass/spencer.scss */
h3.white {
  color: #fff;
}

/* line 832, ../sass/spencer.scss */
h4 {
  font-size: 22px;
  line-height: 33px;
  color: #3aacd2;
  padding-bottom: 16px;
  padding-top: 16px;
  font-weight: 500;
  font-family: CoreSansA55;
}
/* line 840, ../sass/spencer.scss */
h4.white {
  color: #fff;
}

/* line 845, ../sass/spencer.scss */
h5 {
  color: #fff;
  font-family: CoreSansA35;
  line-height: 1.3em;
  font-size: 32px;
  max-width: 945px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* line 855, ../sass/spencer.scss */
h5.left {
  text-align: left;
}

/* line 862, ../sass/spencer.scss */
.container-2.clean .col-1 {
  padding-left: 0 !important;
}
/* line 866, ../sass/spencer.scss */
.container-2.clean .col-2 {
  padding-right: 0 !important;
}

/* media queries */
@media all and (min-width: 100px) and (max-width: 767px) {
  /* line 876, ../sass/spencer.scss */
  header {
    height: auto;
  }
  /* line 880, ../sass/spencer.scss */
  header #navigation-wrapper #logo-wrapper {
    height: 64px;
    padding-left: 34px;
    padding-right: 34px;
  }
  /* line 885, ../sass/spencer.scss */
  header #navigation-wrapper #logo-wrapper #logo {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    float: none;
    width: 100%;
  }
  /* line 892, ../sass/spencer.scss */
  header #navigation-wrapper #logo-wrapper #logo #mobile-nav-icon {
    display: block;
    float: right;
  }
  /* line 899, ../sass/spencer.scss */
  header #navigation-wrapper #navigation {
    display: none;
    background-color: rgba(255, 255, 255, 0.1);
    float: none;
    width: 100%;
  }
  /* line 905, ../sass/spencer.scss */
  header #navigation-wrapper #navigation ul {
    margin: 0;
  }
  /* line 907, ../sass/spencer.scss */
  header #navigation-wrapper #navigation ul li {
    display: block;
    border-bottom: 1px solid #9be0ee;
    padding-left: 20px;
  }
  /* line 912, ../sass/spencer.scss */
  header #navigation-wrapper #navigation ul li a {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /* line 923, ../sass/spencer.scss */
  #body-wrapper {
    margin-top: 64px;
  }

  /* line 927, ../sass/spencer.scss */
  .content-container {
    padding-left: 34px;
    padding-right: 34px;
  }

  /* line 932, ../sass/spencer.scss */
  .video-button {
    padding: 12px 24px !important;
    height: 20px;
  }

  /* line 938, ../sass/spencer.scss */
  #intro #intro-buttons {
    position: relative;
  }
  /* line 940, ../sass/spencer.scss */
  #intro #intro-buttons a, #intro #intro-buttons #play-video {
    display: block;
    margin-bottom: 16px;
    text-align: center;
  }
  /* line 947, ../sass/spencer.scss */
  #intro .col-1 {
    padding-top: 64px;
    padding-bottom: 0;
  }
  /* line 952, ../sass/spencer.scss */
  #intro .col-2 {
    padding-right: 0;
    text-align: center;
  }
  /* line 956, ../sass/spencer.scss */
  #intro .col-2 img {
    max-width: 240px;
    margin-bottom: -400px;
  }

  /* line 963, ../sass/spencer.scss */
  #testimonials {
    padding-top: 498px;
    padding-bottom: 64px;
    margin-bottom: 0;
  }
  /* line 968, ../sass/spencer.scss */
  #testimonials .testimonial-content {
    margin-top: 16px;
    background-size: 50px 35px;
  }
  /* line 972, ../sass/spencer.scss */
  #testimonials .testimonial-content h2 {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 23px;
  }
  /* line 979, ../sass/spencer.scss */
  #testimonials .testimonial-person {
    padding-top: 16px;
  }

  /* line 984, ../sass/spencer.scss */
  #oversaturated {
    padding-bottom: 128px;
  }
  /* line 986, ../sass/spencer.scss */
  #oversaturated h3 {
    padding-top: 128px;
    padding-bottom: 0;
  }
  /* line 991, ../sass/spencer.scss */
  #oversaturated .h3-2, #oversaturated .h3-1 {
    font-size: 36px;
  }
  /* line 995, ../sass/spencer.scss */
  #oversaturated h4 {
    padding-top: 64px;
  }

  /* line 1000, ../sass/spencer.scss */
  .functionality {
    padding-top: 128px;
    padding-bottom: 128px;
  }
  /* line 1004, ../sass/spencer.scss */
  .functionality h5 {
    font-size: 28px;
  }
  /* line 1009, ../sass/spencer.scss */
  .functionality #functionality .col-1 {
    padding-top: 0;
  }
  /* line 1011, ../sass/spencer.scss */
  .functionality #functionality .col-1 ul {
    margin-bottom: 32px;
  }
  /* line 1013, ../sass/spencer.scss */
  .functionality #functionality .col-1 ul li {
    padding-bottom: 16px;
  }
  /* line 1018, ../sass/spencer.scss */
  .functionality #functionality .col-1 .video-button {
    display: block;
    padding: 12px 24px;
    height: 20px;
  }
  /* line 1025, ../sass/spencer.scss */
  .functionality #functionality .col-2 {
    display: none;
  }

  /* line 1031, ../sass/spencer.scss */
  #cloud-layer {
    padding-bottom: 228px;
  }
  /* line 1033, ../sass/spencer.scss */
  #cloud-layer h3 {
    padding-top: 128px;
    font-size: 28px;
    text-align: left;
  }
  /* line 1040, ../sass/spencer.scss */
  #cloud-layer .col-2 video {
    margin-top: 64px;
  }

  /* line 1047, ../sass/spencer.scss */
  #mobile-app .col-1 {
    text-align: center;
  }
  /* line 1050, ../sass/spencer.scss */
  #mobile-app .col-1 .card.card-l, #mobile-app .col-1 .card.card-m {
    display: none;
  }
  /* line 1053, ../sass/spencer.scss */
  #mobile-app .col-1 .card.card-s {
    width: 100%;
    display: inline;
  }
  /* line 1060, ../sass/spencer.scss */
  #mobile-app .col-2 .mobile-app-content h5 {
    font-size: 28px;
    margin-top: 92px;
  }

  /* line 1067, ../sass/spencer.scss */
  #resume-container {
    padding-bottom: 128px;
  }
  /* line 1070, ../sass/spencer.scss */
  #resume-container h3 {
    font-size: 36px;
    padding-top: 128px;
    padding-bottom: 0px;
  }
  /* line 1077, ../sass/spencer.scss */
  #resume-container #resume .col-content {
    background: none;
    padding-left: 0;
  }
  /* line 1081, ../sass/spencer.scss */
  #resume-container #resume .col-content h4 {
    padding-top: 64px;
  }

  /* line 1089, ../sass/spencer.scss */
  #nav-references .content.references {
    padding-top: 128px;
  }
  /* line 1093, ../sass/spencer.scss */
  #nav-references .content.references #references-navigation .col-1 {
    padding-left: 0;
  }
  /* line 1097, ../sass/spencer.scss */
  #nav-references .content.references #references-navigation .col-2 {
    padding-left: 5px;
    padding-right: 5px;
  }
  /* line 1102, ../sass/spencer.scss */
  #nav-references .content.references #references-navigation .col-3 {
    padding-right: 0;
  }
  /* line 1106, ../sass/spencer.scss */
  #nav-references .content.references #references-navigation a {
    height: 72px;
    background-size: 48px 48px;
  }
  /* line 1113, ../sass/spencer.scss */
  #nav-references .content.references #references-body b {
    padding-top: 64px;
  }
  /* line 1117, ../sass/spencer.scss */
  #nav-references .content.references #references-body .quote, #nav-references .content.references #references-body .testimonial-person {
    display: none;
  }
  /* line 1122, ../sass/spencer.scss */
  #nav-references .content.references #references-body .col-2 img {
    margin-top: 32px;
    width: 100%;
  }

  /* line 1131, ../sass/spencer.scss */
  #five-step-container {
    padding-bottom: 128px;
  }
  /* line 1133, ../sass/spencer.scss */
  #five-step-container h3 {
    padding-top: 128px;
    padding-bottom: 0px;
    font-size: 36px;
  }
  /* line 1139, ../sass/spencer.scss */
  #five-step-container .number-wrapper {
    display: block;
    padding-top: 64px;
  }
  /* line 1144, ../sass/spencer.scss */
  #five-step-container .col-content {
    display: block;
    padding-left: 0;
  }

  /* line 1150, ../sass/spencer.scss */
  #team-container {
    padding-top: 128px;
    padding-bottom: 128px;
  }
  /* line 1154, ../sass/spencer.scss */
  #team-container h3 {
    font-size: 36px;
  }
  /* line 1158, ../sass/spencer.scss */
  #team-container #team {
    padding-top: 32px;
    text-align: center;
  }
  /* line 1162, ../sass/spencer.scss */
  #team-container #team .members-container {
    display: inline-block;
  }

  /* line 1168, ../sass/spencer.scss */
  #hiring-container {
    padding-bottom: 128px;
  }
  /* line 1170, ../sass/spencer.scss */
  #hiring-container h3 {
    padding-top: 96px;
    font-size: 36px;
  }

  /* line 1176, ../sass/spencer.scss */
  #nav-contact {
    display: none;
  }

  /* line 1180, ../sass/spencer.scss */
  #footer {
    padding-bottom: 144px;
  }
  /* line 1182, ../sass/spencer.scss */
  #footer .col-1 {
    padding-top: 144px;
  }
  /* line 1186, ../sass/spencer.scss */
  #footer .col-2 {
    padding-top: 32px;
  }
  /* line 1190, ../sass/spencer.scss */
  #footer .col-3 {
    padding-top: 16px;
  }
  /* line 1194, ../sass/spencer.scss */
  #footer .col-4 {
    padding-top: 32px;
  }
  /* line 1198, ../sass/spencer.scss */
  #footer #social-icons {
    text-align: left;
  }
}
@media all and (max-width: 320px) {
  /* line 1205, ../sass/spencer.scss */
  .content-container {
    padding-left: 7px;
    padding-right: 7px;
  }

  /* line 1211, ../sass/spencer.scss */
  header #navigation-wrapper #logo-wrapper {
    padding-left: 7px;
    padding-right: 7px;
  }
}
@media all and (min-width: 768px) {
  /* line 15, ../sass/spencer.scss */
  #navigation-wrapper {
    max-width: 720px;
  }

  /* line 20, ../sass/spencer.scss */
  .content-container .content {
    max-width: 720px;
  }

  /* line 1222, ../sass/spencer.scss */
  .content-container .content {
    max-width: 596px;
  }

  /* line 1226, ../sass/spencer.scss */
  #navigation {
    display: block !important;
  }

  /* line 1231, ../sass/spencer.scss */
  #intro .col-1 {
    padding-top: 128px;
  }
  /* line 1235, ../sass/spencer.scss */
  #intro .col-2 {
    text-align: center;
    padding-top: 28px;
    padding-right: 0;
  }
  /* line 1239, ../sass/spencer.scss */
  #intro .col-2 img {
    max-width: 320px;
    margin-bottom: -500px;
  }

  /* line 1247, ../sass/spencer.scss */
  .content-container #testimonials {
    padding-top: 600px;
  }
  /* line 1249, ../sass/spencer.scss */
  .content-container #testimonials.content {
    max-width: 720px;
  }
  /* line 1253, ../sass/spencer.scss */
  .content-container #testimonials .testimonial-content h2 {
    max-width: 596px;
  }

  /* line 1261, ../sass/spencer.scss */
  #nav-problem #oversaturated {
    padding-bottom: 165px;
  }
  /* line 1263, ../sass/spencer.scss */
  #nav-problem #oversaturated .oversat-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 596px;
  }
  /* line 1268, ../sass/spencer.scss */
  #nav-problem #oversaturated .oversat-container .h3-1 {
    max-width: 596px;
    padding-bottom: 32px;
  }
  /* line 1273, ../sass/spencer.scss */
  #nav-problem #oversaturated .oversat-container .h3-2 {
    padding-bottom: 32px;
  }
  /* line 1277, ../sass/spencer.scss */
  #nav-problem #oversaturated .oversat-container h4 {
    padding-top: 64px;
  }

  /* line 1285, ../sass/spencer.scss */
  #functionality .col-2 {
    display: none;
  }

  /* line 1290, ../sass/spencer.scss */
  #cloud-layer {
    padding-bottom: 292px;
  }
  /* line 1292, ../sass/spencer.scss */
  #cloud-layer h3 {
    font-size: 32px;
    line-height: 1.3em;
    text-align: left;
  }
  /* line 1298, ../sass/spencer.scss */
  #cloud-layer .video {
    margin-top: 64px;
  }

  /* line 1303, ../sass/spencer.scss */
  #mobile-app {
    padding-bottom: 160px;
  }
  /* line 1304, ../sass/spencer.scss */
  #mobile-app .col-2 .mobile-app-content {
    max-width: 596px;
  }
  /* line 1307, ../sass/spencer.scss */
  #mobile-app .col-2 .mobile-app-content h5 {
    margin-top: 96px;
  }

  /* line 1314, ../sass/spencer.scss */
  #resume-container {
    padding-bottom: 192px;
  }
  /* line 1317, ../sass/spencer.scss */
  #resume-container h3 {
    padding-top: 192px;
    padding-bottom: 32px;
  }
  /* line 1323, ../sass/spencer.scss */
  #resume-container #resume .col {
    padding-top: 64px;
  }

  /* line 1330, ../sass/spencer.scss */
  #nav-references .content.references {
    padding-top: 192px;
    padding-bottom: 192px;
  }
  /* line 1335, ../sass/spencer.scss */
  #nav-references .content.references #references-navigation .col-1 {
    padding-left: 0;
  }
  /* line 1339, ../sass/spencer.scss */
  #nav-references .content.references #references-navigation .col-2 {
    padding-left: 5px;
    padding-right: 5px;
  }
  /* line 1344, ../sass/spencer.scss */
  #nav-references .content.references #references-navigation .col-3 {
    padding-right: 0;
  }
  /* line 1350, ../sass/spencer.scss */
  #nav-references .content.references #references-body b {
    padding-top: 64px;
  }
  /* line 1354, ../sass/spencer.scss */
  #nav-references .content.references #references-body .quote, #nav-references .content.references #references-body .testimonial-person {
    display: none;
  }

  /* line 1362, ../sass/spencer.scss */
  #five-step-container h3 {
    padding-bottom: 32px;
  }
  /* line 1366, ../sass/spencer.scss */
  #five-step-container .col-content {
    padding-top: 64px;
  }

  /* line 1371, ../sass/spencer.scss */
  #team-container {
    padding-bottom: 256px;
  }

  /* line 97, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
  #team.container-2:before {
    content: "";
    display: table;
  }
  /* line 101, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
  #team.container-2:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 1379, ../sass/spencer.scss */
  #team.container-2 .col-1 {
    clear: left;
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 1383, ../sass/spencer.scss */
  #team.container-2 .col-2 {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 1390, ../sass/spencer.scss */
  #nav-contact #contact-container .container-2 {
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 97, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
  #nav-contact #contact-container .container-2 .container-2:before {
    content: "";
    display: table;
  }
  /* line 101, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
  #nav-contact #contact-container .container-2 .container-2:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 1398, ../sass/spencer.scss */
  #nav-contact #contact-container .container-2 .container-2 .col-1 {
    clear: left;
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 1402, ../sass/spencer.scss */
  #nav-contact #contact-container .container-2 .container-2 .col-2 {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  /* line 97, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
  #footer:before {
    content: "";
    display: table;
  }
  /* line 101, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
  #footer:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 1415, ../sass/spencer.scss */
  #footer .col-1 {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 1418, ../sass/spencer.scss */
  #footer .col-2 {
    clear: left;
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 1422, ../sass/spencer.scss */
  #footer .col-3 {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 1425, ../sass/spencer.scss */
  #footer .col-4 {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 1429, ../sass/spencer.scss */
  #footer .col-4 #social-icons {
    text-align: left;
  }
}
@media all and (min-width: 992px) {
  /* line 1438, ../sass/spencer.scss */
  #references-body .quote {
    display: block !important;
  }
  /* line 1441, ../sass/spencer.scss */
  #references-body .testimonial-person {
    display: block !important;
  }
  /* line 1445, ../sass/spencer.scss */
  #references-body .col-1 {
    padding-top: 128px;
  }
  /* line 1450, ../sass/spencer.scss */
  #references-body .col-2 img {
    width: 100%;
  }

  /* line 1457, ../sass/spencer.scss */
  #functionality .col-2 {
    display: inline !important;
  }

  /* line 1464, ../sass/spencer.scss */
  #intro .col-1 {
    float: left;
    width: 60%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 1466, ../sass/spencer.scss */
  #intro .col-1 h3, #intro .col-1 p {
    max-width: 535px;
  }
  /* line 1470, ../sass/spencer.scss */
  #intro .col-2 {
    float: left;
    width: 40%;
    margin-left: 60%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 58px;
    text-align: right;
    padding-right: 16px;
  }
  /* line 1475, ../sass/spencer.scss */
  #intro .col-2 img {
    width: 100%;
    margin-bottom: -100px;
    max-width: 360px;
  }

  /* line 97, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
  .container-2:before {
    content: "";
    display: table;
  }
  /* line 101, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
  .container-2:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 1487, ../sass/spencer.scss */
  .container-2 .col-1 {
    clear: left;
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 1491, ../sass/spencer.scss */
  .container-2 .col-2 {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 1496, ../sass/spencer.scss */
  .container-2.clean .col-1 {
    padding-left: 0;
  }
  /* line 1500, ../sass/spencer.scss */
  .container-2.clean .col-2 {
    padding-right: 0;
  }

  /* line 1507, ../sass/spencer.scss */
  #nav-problem #oversaturated {
    padding-bottom: 192px;
  }
  /* line 1509, ../sass/spencer.scss */
  #nav-problem #oversaturated .oversat-container {
    max-width: 945px;
  }

  /* line 1516, ../sass/spencer.scss */
  #functionality {
    margin-top: 68px;
  }
  /* line 97, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
  #functionality:before {
    content: "";
    display: table;
  }
  /* line 101, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
  #functionality:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 1521, ../sass/spencer.scss */
  #functionality .col-1 {
    max-width: 535px;
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 1526, ../sass/spencer.scss */
  #functionality .col-2 {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 1532, ../sass/spencer.scss */
  #nav-contact #contact-container .container-2 {
    max-width: 970px;
  }

  /* line 97, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
  #footer:before {
    content: "";
    display: table;
  }
  /* line 101, ../../../lib/gems/2.3.0/gems/zen-grids-2.0.3/sass/zen-grids/_grids.scss */
  #footer:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 1541, ../sass/spencer.scss */
  #footer .col-1 {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 1544, ../sass/spencer.scss */
  #footer .col-2 {
    float: left;
    width: 25%;
    margin-left: 25%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 1547, ../sass/spencer.scss */
  #footer .col-3 {
    float: left;
    width: 25%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 1550, ../sass/spencer.scss */
  #footer .col-4 {
    float: left;
    width: 25%;
    margin-left: 75%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 15, ../sass/spencer.scss */
  #navigation-wrapper {
    max-width: 970px;
  }

  /* line 20, ../sass/spencer.scss */
  .content-container .content {
    max-width: 970px;
  }
}
@media all and (min-width: 993px) {
  /* line 1560, ../sass/spencer.scss */
  .content-container #testimonials {
    padding-top: 226px;
    padding-bottom: 96px;
  }

  /* line 1566, ../sass/spencer.scss */
  #intro .col-1 {
    padding-top: 186px;
  }

  /* line 1570, ../sass/spencer.scss */
  #mobile-app .col-2 .mobile-app-content h5 {
    margin-top: 160px;
  }

  /* line 1574, ../sass/spencer.scss */
  #team {
    padding-top: 64px;
  }
}
@media all and (min-width: 1281px) {
  /* line 15, ../sass/spencer.scss */
  #navigation-wrapper {
    max-width: 1140px;
  }

  /* line 20, ../sass/spencer.scss */
  .content-container .content {
    max-width: 1140px;
  }

  /* line 1584, ../sass/spencer.scss */
  .content-container #testimonials.content {
    max-width: 1140px;
  }
  /* line 1588, ../sass/spencer.scss */
  .content-container #testimonials .testimonial-content h2 {
    max-width: 945px;
  }

  /* line 1595, ../sass/spencer.scss */
  #functionality .col-1 {
    max-width: 652px;
  }

  /* line 1599, ../sass/spencer.scss */
  #cloud-layer {
    padding-bottom: 256px;
  }

  /* line 1603, ../sass/spencer.scss */
  #mobile-app .col-2 .mobile-app-content {
    max-width: 458px;
    float: right;
  }
}
